/* This class is applied to the parent div that contains all the blog posts */
.blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Add transition for a smooth animation */
}

/* This class is applied to each individual blog post */
.blog-post {
    width: 600px;
    background: url("{{ heroImage }}") no-repeat center center;
    background-size: cover;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #000;
    transition: box-shadow 0.3s ease-in-out;
    cursor: default;
    text-decoration: none;
}

.blog-hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1em;
}

/* Hover effect for the blog post */
.blog-post:hover {
    box-shadow: 0 0 20px 0 #000000cc;
    /* 3D animation to make the post appear to pop out of the page */
    transform: translateZ(10px);
}

/* Classes for the title, date, and description of the post */
.blog-post h3 {
    font-size: 2em;
    margin: 0;
    color: #000;
}

.blog-post time {
    font-size: 1.5em;
    margin: 0;
}

.blog-post p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
}

/* Class for the tags of the post */
.blog-post .tags {
    display: flex;
    flex-wrap: wrap;
}

.blog-post .tags span {
    background-color: rgba(255, 255, 255, 0);
    color: #000;
    padding: 0.05em 0.25em 0.05em 0.25em;
    margin: 0.5em;
    border: 1px solid #000;
}

/* Class for hover effect on the tags */
.blog-post .tags span:hover {
    background-color: #000;
    color: #fff;
}

/* Tags on hover slashes a color from one side to another */
.blog-post .tags span:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ffffff, transparent);
    z-index: -1;
    border-radius: 10px;
    /* shadow 0 */

}

/* Make responsive */
@media (max-width: 600px) {
    .blog-post {
        width: 100%;
    }
}