body {
    position: absflexolute;
    padding: 10px;
    font-family: "SF Pro", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    background-color: #fff;
    text-align: center;
    margin: 80px auto;
}

article {
    /* article center and margin 40px, text like apple guidelines, and beauty present to perfect read display */
    margin: 40px auto;
    max-width: 800px;
    text-align: left;
    font-family: "SF Pro", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    background-color: #fff;
    text-align: justify;
}

text {
    /* article center and margin 40px, text like apple guidelines, and beauty present to perfect read display */
    margin: 40px auto;
    max-width: 800px;
    text-align: left;
    font-family: "SF Pro", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    background-color: #fff;
    text-align: justify;
}

div ash {
    /* div ash center and margin 40px */
    margin: 100px;

}

code {
    padding: 2px 5px;
    background-color: #f2f2f2;
    font-family: "SF Mono", monospace;
}

pre {
    padding: 1rem;
    font-family: "SF Mono", monospace;
}

pre>code {
    all: unset;
    font-family: "SF Mono", monospace;
}

blockquote {
    border: 1px solid #999;
    color: #222;
    padding: 2px 0px 2px 20px;
    margin: 0px;
    font-style: italic;
    font-family: "SF Pro", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    font-size: 16px;
    font-family: "SF Pro", sans-serif;
}

.tab-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    padding: 0 20px;
    top: calc(100% - 50px);
    left: 0;
    right: 0;
    z-index: 999;
    height: 50px;
}

.content-container {
    margin-bottom: 50px;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .tab-menu {
        display: none;
    }

    .content-container {
        margin-bottom: 0;
        /* Remove the bottom margin on desktop screens */
    }

}

@media (max-width: 768px) {
    .horizontal-scroll {
        display: none;
    }
}