h1 {
    font-size: 25px;
    font-family: monospace;
}

h1.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-family: monospace;
    padding-top: 3rem;
}

h3 {
    font-size: 18px;
    font-family: monospace;
}

h4 {
    font-size: 16px;
    font-family: monospace;
}

h5 {
    font-size: 14px;
    font-family: monospace;
}

h6 {
    font-size: 12px;
    font-family: monospace;
}

strong,
b {
    color: #000;
    font-family: monospace;
}

a {
    color: #3273dc;
    font-family: monospace;
}

nav a {
    margin-right: 10px;
    font-family: monospace;
}

textarea {
    width: 100%;
    font-size: 16px;
    font-family: monospace;
}

content {
    line-height: 1.6;
    font-family: monospace;
}