---
import Tag from "../components/Tag.astro";
import Ga from "../components/Ga.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, AUTHOR } from "../config";
---

<html lang="en">
  <head>
    <Tag />
  </head><div>
    <ash>
      <BaseHead
        title={SITE_TITLE}
        description={SITE_DESCRIPTION}
        author={AUTHOR}
      />
    </ash>
  </div>

  <body>
    <Ga />
    <Header />
    <p>
      This is a random number: <span id="random"></span>
    </p>
    <div>
      <script>
        // generate a random string of 244 characters, that begins with "miguel=(the random string)"
        var x =
          "cil=" + // now the 42 characters of the random string
          Math.random().toString(36).substring(2, 15) +
          Math.random().toString(36).substring(2, 15) +
          Math.random().toString(36).substring(2, 16) +
          Math.random().toString(36).substring(2, 12);
        // show the number in the console
        console.log(x);
        // show the number in the browser
        document.getElementById("random").innerHTML = x;
      </script>
    </div>
  </body>
  <Footer />
</html>
