---
import Tag from "../components/Tag.astro";
import Ga from "../components/Ga.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, AUTHOR } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Tag />
    <!-- Link th shortcuts.js
    <script src="../pages/shortcuts.js"></script>  -->
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      author={AUTHOR}
    />
  </head>
  <body>
    <Ga />
    <Header title={SITE_TITLE} />
    <main>
      <h2>You used "h", here is the list of shortcuts on this table:</h2>
      <ul>
        <li>"h" - go to help</li>
        <li>"1" - go home</li>
        <li>"2" - go blog page</li>
        <li>"3" - go about page</li>
        <li>"4" - go Twitter</li>
        <li>"/p" - go Github</li>
        <li>"/g" - go Twitch</li>
        <li>"/b" - go YouTube</li>
      </ul>
      <Footer />
    </main>
  </body>
</html>
