---
import Tag from "../components/Tag.astro";
import Ga from "../components/Ga.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, AUTHOR } from "../config";
---

<html lang="en">
  <head>
    <Tag />
    <meta charset="utf-8" />
  </head>
  <body>
    <Ga />
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      author={AUTHOR}
    />
    <img
      src="https://pbs.twimg.com/profile_images/1586447193900204035/fLZqjQLG_400x400.jpg"
      alt="Miguel Gargallo"
      class="profile"
      style="padding: 50px;"
    />
    <div>
      <a
        style="margin: 10px 0px 10px 0px; background-color: #000000; color: #ffffff; border: 1px solid #000000; border-radius: 5px; padding: 10px 20px 10px 20px; font-size: 16px; font-weight: 600; text-decoration: none; cursor: pointer; display: inline-block; text-align: center; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out;"
        href="https://assetstore.unity.com?aid=1101lGLI6"
        target="_blank"
        rel="noopener"
      >
        Exclusive Unity Deals
      </a>
      <a
        style="margin: 10px 0px 10px 0px; background-color: #000000; color: #ffffff; border: 1px solid #000000; border-radius: 5px; padding: 10px 20px 10px 20px; font-size: 16px; font-weight: 600; text-decoration: none; cursor: pointer; display: inline-block; text-align: center; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out;"
        href="https://prf.hn/click/camref:1101lGLI6/destination:https://store.unity.com/products/unity-plus"
        target="_blank"
        rel="noopener"
      >
        Official Unity Pro for $170/mo
      </a>
      <a
        style="margin: 10px 0px 10px 0px; background-color: #000000; color: #ffffff; border: 1px solid #000000; border-radius: 5px; padding: 10px 20px 10px 20px; font-size: 16px; font-weight: 600; text-decoration: none; cursor: pointer; display: inline-block; text-align: center; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out;"
        href="https://prf.hn/click/camref:1101lGLI6/destination:https://store.unity.com/products/unity-pro"
        target="_blank"
        rel="noopener"
      >
        Get Unity Plus for less only $37/mo
      </a>
    </div>
    <Header />
    <main class="content">
      <div class="pm8">
        <h2 class="descriptiontitle">BREAKING NOW</h2>
        <div class="superfeatured">
          <a class="featured" href="/blog-es/microsoft-contra-samaltman">
            <h2>
              Microsoft contrata ex CEO de OpenAI, Sam Altman y Brockman de
              OpenAI"
            </h2>
          </a>
          <a
            class="featured"
            href="/blog-es/openai-samaltman-emmetshear-chatgpt"
          >
            <h2>OpenAI nombra a Emmett Shear como intern CEO</h2>
          </a>
          <a
            class="featured"
            href="/blog-es/openai-chatgpt-samaltman-despedido"
          >
            <h2>
              Sam Altman, el hombre que lo cambió todo, CEO de OpenAI, despedido
              por la junta directiva
            </h2>
          </a>
        </div>
        <div>
          <a class="featured" href="/blog-es/microsoft-contra-samaltman">
            <img
              src="https://raw.githubusercontent.com/superdatas/blog-images/main/112023/openai-chatgpt-samaltman-despedido.jpg"
              alt="Craft a panoramic HD image of a realistic drawing of an anonymous man with a neutral expression, short curly hair, dressed in a cream-colored crewneck sweater. The scene is set at dusk, with the man leaving a contemporary office building. He should be captured in motion, walking out of the building's front doors. The office is modern with glass doors, reflecting the orange hues of the sunset. The man's figure should be in the foreground, heading towards the viewer, embodying the end of a workday and the transition from professional to personal time."
            />
          </a>
        </div>
        <a
          class="featured"
          href="/blog-es/inteligencias-artificiales-legisladas-censuradas"
          ><div>
            Porque las Inteligencias Artificiales deben ser legisladas y no
            censuradas o prohibidas
          </div></a
        >
        <a class="featured" href="/blog-es/chatgpt-quedarse-gobiernos"
          ><div>
            ChatGPT ha venido para quedarse: Por que los gobiernos no podran
            ganar la batalla
          </div></a
        >
        <a class="featured" href="/blog-es/despido-adapta-trabajo-ia"
          ><div>Evita el despido y adapta tu trabajo con IA ahora</div></a
        >
        <a class="featured" href="/blog-ita/soluzione-definitiva-Italia-chatgpt"
          ><div>
            Accedere a ChatGPT in Italia con NordVPN la soluzione definitiva
          </div></a
        >
        <a class="featured" href="/blog/job-adaptation-ai"
          ><div>Job Adaptation to AI</div></a
        >
      </div>

      <div class="pm8">
        <div>
          <h2 class="descriptiontitle">👨‍💻 Miguel Gargallo</h2>
          <h3 class="descriptiontext">
            <strong>AI Expert</strong>
            <strong>5,547 contributions in the last year</strong>
          </h3><a
            class="calcombutton"
            href="https://cal.com/miguelgargallo"
            target="_blank"
            rel="noopener noreferrer">Hire</a
          >
          <h2 class="descriptiontitle">English</h2>
          <p class="descriptiontext">
            Hello, my name is Miguel Gargallo. I'm an AI expert with over 5
            years of experience in implementing AI solutions across various
            sectors, helping businesses grow and innovate.
          </p>
          <h2 class="descriptiontitle">Spanish</h2>
          <p class="descriptiontext">
            Hola, mi nombre es Miguel Gargallo. Soy un experto en Inteligencia
            Artificial (IA) con más de 5 años de experiencia en la
            implementación de soluciones de IA en diversos sectores, ayudando a
            las empresas a crecer e innovar.
          </p>
          <button
            class="button"
            style="margin: 10px 0px 10px 0px; background-color: #000000; color: #ffffff; border: 1px solid #000000; border-radius: 5px; padding: 10px 20px 10px 20px; font-size: 16px; font-weight: 600; text-decoration: none; cursor: pointer; display: inline-block; text-align: center; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out;"
            onclick="window.loc
                      ;"
            >Read more about the author</button
          >
          <p>
            Thanks for investing your time in my blog. I hope you find it
            useful.
            <br />
            - Miguel Gargallo
          </p>
        </div>
        <Footer />
      </div>
    </main>
  </body>
</html>
