---
import Tag from "../components/Tag.astro";
import Ga from "../components/Ga.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, AUTHOR } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Tag />
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      author={AUTHOR}
    />
  </head>
  <body>
    <Ga />
    <Header />
    <div class="hero-image"></div>
    <main class="content">
      <div class="bio">
        My name is Miguel Gargallo and I am a software developer and
        entrepreneur. I have a passion for creating innovative products and
        solving complex problems. I have a background in computer science and
        have experience working on a variety of projects, including web and
        mobile apps, data analysis and visualization, and machine learning. In
        my free time, I enjoy participating in hackathons, learning new
        technologies, and streaming on Twitch. Feel free to reach out to me on
        Twitter or GitHub if you have any questions or want to collaborate on a
        project.
      </div>
      <div class="social-links">
        <a
          href="https://twitter.com/miguelgargallo"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-twitter"></i>
        </a>
        <a
          href="https://github.com/miguelgargallo"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-github"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/miguelgargallo/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </main>
    <Footer />
  </body>
</html>
