---
import Tag from "../components/Tag.astro";
import Ga from "../components/Ga.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, AUTHOR } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Tag />
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      author={AUTHOR}
    />
  </head>
  <body>
    <Ga />
    <Header title={SITE_TITLE} />
    <main>
      <h1>🧑‍🚀 Hello, Astronaut!</h1>
      About Pencil Works LLC Pencil Works is a startup that is involved in a variety
      of different projects and ventures. Here is a summary of what they do: Services
      Pencil Works is a startup that is involved in a variety of different projects
      and ventures. Here is a summary of what they do: Pencil Apps Pencil Works sells
      apps on the Apple App Store and Mac App Store through their project called
      Pencil Apps. You can find their apps in the App Store at the following link:
      App Store. Pencil University Pencil Works also sells books on the Apple Books
      Store through their project called Pencil University. You can find their books
      in the Apple Books Store at the following link: Apple Books Store.
    </main>
    <Footer />
  </body>
</html>
