---
import Tag from "../components/Tag.astro";
import Ga from "../components/Ga.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, AUTHOR } from "../config";
---

<html lang="en">
  <head>
    <Tag />
  </head>
  <div>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      author={AUTHOR}
    />
  </div>
  <body>
    <Ga />
    <Header />
    <img
      src="https://pbs.twimg.com/profile_images/1586447193900204035/fLZqjQLG_400x400.jpg"
      alt="Miguel Gargallo"
      class="profile"
    />
  </body>
  <main class="content">
    <text class="bio">
      <div>
        <h2>Featured Articles</h2>
        <ul>
          <li>
            <a href="/blog-cat/carles-tamayo-premi-crypto"
              >Carles Tamayo guanya el premi de periodisme amb el seu reportatge
              sobre crypto</a
            >
          </li>
          <li>
            <a href="/blog/chatbot-tensorflow-libdevice"
              >Astro 2.0 has arrived, and it's changing the game - Learn how to
              build performant websites</a
            >
          </li>
          <li>
            <a href="/blog/astro-markdown-content"
              >How to prompt chatgpt to get results</a
            >
          </li>
        </ul>
      </div>
      <div>
        <div>
          <h2>About me</h2>
          My name is Miguel Gargallo and I am a software developer and entrepreneur.
          I have a passion for creating innovative products and solving complex problems.
          I have a background in computer science and have experience working on
          a variety of projects, including web and mobile apps, data analysis and
          visualization, and machine learning. In my free time, I enjoy participating
          in hackathons, learning new technologies, and streaming on Twitch. Feel
          free to reach out to me on Twitter or GitHub if you have any questions
          or want to collaborate on a project.
        </div>
      </div>
    </text>
    <Footer />
  </main>
</html>
