---
import Tag from "../../components/Tag.astro";
import Ga from "../../components/Ga.astro";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, AUTHOR } from "../../config";
---

<html lang="en">
  <head>
    <Tag />
  </head><div>
    <ash>
      <BaseHead
        title={SITE_TITLE}
        description={SITE_DESCRIPTION}
        author={AUTHOR}
      />
    </ash>
  </div>
  <body>
    <Ga />
    <Header />
    <h2>
      Thanks to sumbit your tld for the whitelist, you are now able to wait to
      the next urkel tree sync, and if nothing goes wrong, you will be able to
      see the red bullet green by clicking submit once your dns record is on
      Handshake with json check
    </h2>
    <Footer />
  </body>
</html>
