---
import { SITE_TITLE, AUTHOR, SITE_SEPARATOR } from "../config";
import Menu from "./Menu.astro";
---

<header>
  <div>
    <Menu />
    <h2>
      {AUTHOR}
      {SITE_SEPARATOR}
      {SITE_TITLE}
    </h2>
  </div>
</header>
