---
import Copyright from "./Copyright.astro";
---

<footer>
  <!-- Astro Component of footer -->
  <div>
    <p>
      <a href="https://twitter.com/miguelgargallo">Twitter</a>
      路
      <a href="https://github.miguelgargallo.es">GitHub</a>
      路
      <a href="https://twitch.miguelgargallo.es">Twitch</a>
      路
      <a href="https://youtube.miguelgargallo.es">YouTube</a>
      路
      <a href="https://ig.miguelgargallo.es">Instagram</a>
      <Copyright />
    </p>
  </div>
</footer>
