---
import Copyright from "./Copyright.astro";
---

<footer>
  <div class="nav-footer">
    <div>
      <a
      style="margin: 10px 0px 10px 0px; background-color: #000000; color: #ffffff; border: 1px solid #000000; border-radius: 5px; padding: 10px 20px 10px 20px; font-size: 16px; font-weight: 600; text-decoration: none; cursor: pointer; display: inline-block; text-align: center; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out;"
        href="https://assetstore.unity.com?aid=1101lGLI6"
        target="_blank"
        rel="noopener"
      >
        Exclusive Unity Deals
      </a>
      <a
      style="margin: 10px 0px 10px 0px; background-color: #000000; color: #ffffff; border: 1px solid #000000; border-radius: 5px; padding: 10px 20px 10px 20px; font-size: 16px; font-weight: 600; text-decoration: none; cursor: pointer; display: inline-block; text-align: center; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out;"
        href="https://prf.hn/click/camref:1101lGLI6/destination:https://store.unity.com/products/unity-plus"
        target="_blank"
        rel="noopener"
      >
        Official Unity Pro for $170/mo
      </a>
      <a
      style="margin: 10px 0px 10px 0px; background-color: #000000; color: #ffffff; border: 1px solid #000000; border-radius: 5px; padding: 10px 20px 10px 20px; font-size: 16px; font-weight: 600; text-decoration: none; cursor: pointer; display: inline-block; text-align: center; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out;"
        href="https://prf.hn/click/camref:1101lGLI6/destination:https://store.unity.com/products/unity-pro"
        target="_blank"
        rel="noopener"
      >
        Get Unity Plus for less only $37/mo
      </a>
    </div>
    <p>
      <a
        href="https://twitter.com/miguelgargallo"
        target="_blank"
        rel="noopener noreferrer">Twitter</a
      >
      |
      <a
        href="https://github.com/miguelgargallo"
        target="_blank"
        rel="noopener noreferrer">GitHub</a
      >
      |
      <a
        href="https://twitch.tv/miguelgargallo"
        target="_blank"
        rel="noopener noreferrer">Twitch</a
      >
      |
      <a
        href="https://youtube.com/@miguelgargallollamas"
        target="_blank"
        rel="noopener noreferrer">YouTube</a
      >
      |
      <a
        href="https://instagram.com/miguelgargallo.es"
        target="_blank"
        rel="noopener noreferrer">Instagram</a
      >
      <div class="nav-footer">
        <p>
          <a
            href="https://npmjs.com/zenix"
            target="_blank"
            rel="noopener noreferrer">npm</a
          >
          |
          <a
            href="https://github.com/miguelgargallo/zenix"
            target="_blank"
            rel="noopener noreferrer">Repo</a
          >
          |
          <a href="/update">Update</a>
          |
          <a href="/security">Security</a>
          |
          <a href="/about">About</a>
        </p>
      </div>
      <div class="nav-footer">
        <p>
          <a
            >We use only essential Cookies, you don't need to do or accept
            nothing.</a
          >
        </p>
        <p>
          <a>Designed by Pencil in Orlando, Florida, US.</a>
        </p>
      </div>
      <Copyright />
    </p>
  </div>
  <p></p>
</footer>
