---
import Copyright from "./Copyright.astro";
---

<footer>
  <!-- Astro Component of footer -->
  <div class="nav-footer">
    <p>
      <a href="https://twitter.com/miguelgargallo">Twitter</a>
      路
      <a href="https://github.com/miguelgargallo">GitHub</a>
      路
      <a href="https://twitch.tv/miguelgargallo">Twitch</a>
      路
      <a href="https://youtube.com/@miguelgargallollamas">YouTube</a>
      路
      <a href="https://instagram.com/miguelgargallo.es">Instagram</a>
      <Copyright />
    </p>
  </div>
</footer>
