---
import Copyright from "./Copyright.astro";
---

<footer>
  <div class="nav-footer">
    <p>
      <a href="https://twitter.com/miguelgargallo">Twitter</a>
      |
      <a href="https://github.com/miguelgargallo">GitHub</a>
      |
      <a href="https://twitch.tv/miguelgargallo">Twitch</a>
      |
      <a href="https://youtube.com/@miguelgargallollamas">YouTube</a>
      |
      <a href="https://instagram.com/miguelgargallo.es">Instagram</a>
      |
      <a href="/update">Update</a>
      <Copyright />
    </p>
  </div>
</footer>
