---
import Copyright from "./Copyright.astro";
---

<footer>
  <div class="nav-footer">
    <p>
      <a
        href="https://twitter.com/miguelgargallo"
        target="_blank"
        rel="noopener noreferrer">Twitter</a
      >
      |
      <a
        href="https://github.com/miguelgargallo"
        target="_blank"
        rel="noopener noreferrer">GitHub</a
      >
      |
      <a
        href="https://twitch.tv/miguelgargallo"
        target="_blank"
        rel="noopener noreferrer">Twitch</a
      >
      |
      <a
        href="https://youtube.com/@miguelgargallollamas"
        target="_blank"
        rel="noopener noreferrer">YouTube</a
      >
      |
      <a
        href="https://instagram.com/miguelgargallo.es"
        target="_blank"
        rel="noopener noreferrer">Instagram</a
      >
      <div class="nav-footer">
        <p>
          <a
            href="https://npmjs.com/zenix"
            target="_blank"
            rel="noopener noreferrer">npm</a
          >
          |
          <a
            href="https://github.com/miguelgargallo/zenix"
            target="_blank"
            rel="noopener noreferrer">Repo</a
          >
          |
          <a href="/update">Update</a>
          |
          <a href="/security">Security</a>
          |
          <a href="/about">About</a>
        </p>
      </div>
      <div class="nav-footer">
        <p>
          <a
            >We use only essential Cookies, you don't need to do or accept
            nothing.</a
          >
        </p>
        <p>
          <a>Designed by Pencil in Orlando, Florida, US.</a>
        </p>
      </div>
      <Copyright />
    </p>
  </div>
  <p></p>
</footer>
