---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, AUTHOR, SITE_SEPARATOR } from "../config";
import Shortcuts from "./Shortcuts.astro";
import Calendar from "./Calendar.astro";
---

<header>
  <div class="horizontal-scroll">
    <Shortcuts />
    <nav>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="https://twitter.com/miguelgargallo" target="_blank">
        Twitter
      </HeaderLink>
      <HeaderLink href="https://github.com/miguelgargallo" target="_blank">
        GitHub
      </HeaderLink>
      <HeaderLink href="https://twitchprimegratis.com" target="_blank">
        Twitch
      </HeaderLink>
      <HeaderLink
        href="https://youtube.com/@MiguelGargalloLlamas"
        target="_blank"
      >
        YouTube
      </HeaderLink>
      <Calendar />
    </nav>
    <div>
      <h2>
        {AUTHOR}
        {SITE_SEPARATOR}
        {SITE_TITLE}
      </h2>
    </div>
  </div>
</header>
