---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, AUTHOR, SITE_SEPARATOR } from "../config";

// Display today's date in the screen, only the number of the day / month
const today = new Date();
const todayDate = today.toLocaleDateString("en-us", {
  day: "numeric",
  month: "short",
});

// Now  function to rest -1 day from today
function subtractDays(date: Date, days: number) {
  const copy = new Date(Number(date));
  copy.setDate(date.getDate() - days);
  return copy;
}
---

<header>
  <div style="padding: 20px"></div>
  <h2>
    {AUTHOR}
    {SITE_SEPARATOR}
    {SITE_TITLE}
  </h2>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://twitter.com/miguelgargallo" target="_blank">
      Twitter
    </HeaderLink>
    <HeaderLink href="https://github.com/miguelgargallo" target="_blank">
      GitHub
    </HeaderLink>
    <HeaderLink href="https://twitchprimegratis.com" target="_blank">
      Twitch
    </HeaderLink>
    <HeaderLink
      href="https://youtube.com/@MiguelGargalloLlamas"
      target="_blank"
    >
      YouTube
    </HeaderLink>
  </nav>
  <div class="horizontal-scroll">
    <!-- Add day squares -->
    <div class="day-square active">
      {todayDate}
    </div>
    <div class="day-square">
      {
        subtractDays(today, 1).toLocaleDateString("en-us", {
          day: "numeric",
          month: "short",
        })
      }
    </div>

    <div class="day-square">
      {
        subtractDays(today, 2).toLocaleDateString("en-us", {
          day: "numeric",
          month: "short",
        })
      }
    </div>
    <div class="day-square">
      {
        subtractDays(today, 3).toLocaleDateString("en-us", {
          day: "numeric",
          month: "short",
        })
      }
    </div>
    <div class="day-square">
      {
        subtractDays(today, 4).toLocaleDateString("en-us", {
          day: "numeric",
          month: "short",
        })
      }
    </div>
    <div class="day-square">
      {
        subtractDays(today, 5).toLocaleDateString("en-us", {
          day: "numeric",
          month: "short",
        })
      }
    </div>
    <div class="day-square">
      {
        subtractDays(today, 6).toLocaleDateString("en-us", {
          day: "numeric",
          month: "short",
        })
      }
    </div>
    <div class="day-square">
      {
        subtractDays(today, 7).toLocaleDateString("en-us", {
          day: "numeric",
          month: "short",
        })
      }
    </div>
    <div class="day-square">
      {
        subtractDays(today, 8).toLocaleDateString("en-us", {
          day: "numeric",
          month: "short",
        })
      }
    </div>
    <div class="day-square">
      {
        subtractDays(today, 9).toLocaleDateString("en-us", {
          day: "numeric",
          month: "short",
        })
      }
    </div>
    <div class="day-square">
      {
        subtractDays(today, 10).toLocaleDateString("en-us", {
          day: "numeric",
          month: "short",
        })
      }
    </div>
    <div class="day-square">
      {
        subtractDays(today, 11).toLocaleDateString("en-us", {
          day: "numeric",
          month: "short",
        })
      }
    </div>
    <div class="day-square">
      {
        subtractDays(today, 12).toLocaleDateString("en-us", {
          day: "numeric",
          month: "short",
        })
      }
    </div>
    <div class="day-square">
      {
        subtractDays(today, 13).toLocaleDateString("en-us", {
          day: "numeric",
          month: "short",
        })
      }
    </div>
    <div class="day-square">
      {
        subtractDays(today, 14).toLocaleDateString("en-us", {
          day: "numeric",
          month: "short",
        })
      }
    </div>
    <div class="day-square">
      {
        subtractDays(today, 15).toLocaleDateString("en-us", {
          day: "numeric",
          month: "short",
        })
      }
    </div>
  </div>
  <!-- Add floating mouse element -->
  <div class="floating-mouse hidden">
    <!-- Add inner circle for click effect -->
    <div class="inner-circle"></div>
  </div>
</header>

<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
