<button class="button">
  <a href="/blog">English</a>
</button>
<button class="button">
  <a href="/blog-es">Spanish</a>
</button>
<button class="button">
  <a href="/blog-fr">French</a>
</button>
<button class="button">
  <a href="/blog-de">Deutsch</a>
</button>
<button class="button">
  <a href="/blog-ita">Italian</a>
</button>
<button class="button">
  <a href="/blog-pt">Portuguese</a>
</button>
