---
import HeaderLink from "./HeaderLink.astro";

function today() {
  const date = new Date();
  const day = date.getDate();
  const month = date.getMonth() + 1;
  return `${month}/${day}`;
}
---

<div>
  <nav>
    <div>
      <HeaderLink
        href="/"
        style="color: #fff; padding: 0 5px; border-radius: 5px; box-shadow: 0 0 0 1px #000; text-decoration: none; font-weight: bold; font-size: 1.2rem; text-align: center; display: inline-block; margin: 0 5px;"
      >
        Home | {today}
      </HeaderLink>
    </div>
    <div>
      <HeaderLink
        style="background: #fff; color: #000; padding: 0 5px; border-radius: 5px; box-shadow: 0 0 0 1px #000; text-decoration: none; font-weight: bold; font-size: 1.2rem; text-align: center; display: inline-block; margin: 0 5px;"
        href="https://cal.com/miguelgargallo"
        target="_blank"
        rel="noopener"
      >
        Book now
      </HeaderLink>
    </div>
    <div>
      <HeaderLink
        style="background: #fff; color: #000; padding: 0 5px; border-radius: 5px; box-shadow: 0 0 0 1px #000; text-decoration: none; font-weight: bold; font-size: 1.2rem; text-align: center; display: inline-block; margin: 0 5px;"
        href="/blog"
      >
        Blog
      </HeaderLink>
    </div>
    <div>
      <HeaderLink
        style="color: #fff; padding: 0 5px; border-radius: 5px; box-shadow: 0 0 0 1px #000; text-decoration: none; font-weight: bold; font-size: 1.2rem; text-align: center; display: inline-block; margin: 0 5px;"
        href="https://miguelgargallo.notion.site/Welcome-to-the-100-Days-With-Unity-by-miguelgargallo-at-8a4d5fd1759f410ea372c63d1cc35197?pvs=4"
        target="_blank"
        rel="noopener"
      >
        100 Days Unity
      </HeaderLink>
    </div>
    <div>
      <HeaderLink
        style="color: #F72F35; padding: 0 5px; border-radius: 5px; box-shadow: 0 0 0 1px #000; text-decoration: none; font-weight: bold; font-size: 1.2rem; text-align: center; display: inline-block; margin: 0 5px;"
        href="https://www.youtube.com/@miguelgargallo"
        target="_blank"
        rel="noopener"
      >
        YT
      </HeaderLink>
      <HeaderLink
        style="color: #f96854; padding: 0 5px; border-radius: 5px; box-shadow: 0 0 0 1px #000; text-decoration: none; font-weight: bold; font-size: 1.2rem; text-align: center; display: inline-block; margin: 0 5px;"
        href="https://patreon.com/mgar"
        target="_blank"
        rel="noopener"
      >
        P
      </HeaderLink>
      <HeaderLink
        style="color: #fff; padding: 0 5px; border-radius: 5px; box-shadow: 0 0 0 1px #000; text-decoration: none; font-weight: bold; font-size: 1.2rem; text-align: center; display: inline-block; margin: 0 5px;"
        href="https://github.com/miguelgargallo"
        target="_blank"
        rel="noopener"
      >
        GH
      </HeaderLink>
      <HeaderLink
        style="color: #fff; padding: 0 5px; border-radius: 5px; box-shadow: 0 0 0 1px #000; text-decoration: none; font-weight: bold; font-size: 1.2rem; text-align: center; display: inline-block; margin: 0 5px;"
        href="https://x.com/miguelgargallo"
        target="_blank"
        rel="noopener"
      >
        𝕏
      </HeaderLink>
    </div>
  </nav>
</div>
