---
import HeaderLink from "./HeaderLink.astro";

function today() {
    const date = new Date();
    const day = date.getDate();
    const month = date.getMonth() + 1;
    return `${month}/${day}`;
}
---

<div>
    <nav>
        <HeaderLink href="/">
            <span class="material-icons md-14">&#xea35</span>
            <item> Home</item>
        </HeaderLink>
        <HeaderLink
            href="https://miguelgargallo.github.io/terminal-site"
            target="_blank"
            rel="noopener"
        >
            <span class="material-icons md-14">&#xe5e1</span>
            <item> Terminal</item>
        </HeaderLink>
        <HeaderLink
            href="https://www.superdata.dev"
            target="_blank"
            rel="noopener"
        >
            <span class="material-icons md-14">&#xe5e1</span>
            <item> Terminal Pro</item>
        </HeaderLink>
        <HeaderLink href="/blog">
            <span class="material-icons md-14">&#xeb81</span>
            <item> Blog {today}</item>
        </HeaderLink>
        <div>
            <HeaderLink
                href="https://ko-fi.com/miguelgargallo"
                target="_blank"
                rel="noopener"
            >
                Buy me a Coffe
            </HeaderLink>
            <a>|</a>
            <HeaderLink
                href="https://twitter.com/miguelgargallo"
                target="_blank"
                rel="noopener"
            >
                Twitter
            </HeaderLink>
            <HeaderLink
                href="https://www.youtube.com/@MiguelGargalloLlamas"
                target="_blank"
                rel="noopener"
            >
                YouTube
            </HeaderLink>
            <HeaderLink
                href="https://github.com/miguelgargallo"
                target="_blank"
                rel="noopener"
            >
                GitHub
            </HeaderLink>
            <HeaderLink
                href="https://twitchprimegratis.com"
                target="_blank"
                rel="noopener"
            >
                Twitch
            </HeaderLink>
        </div>
    </nav>
</div>
