---
import HeaderLink from "./HeaderLink.astro";

function today() {
    const date = new Date();
    const day = date.getDate();
    const month = date.getMonth() + 1;
    return `${month}/${day}`;
}
---

<div>
    <nav>
        <HeaderLink href="/">
            <div>
                <span class="material-icons md-36">&#xea35</span>
                <item>Home</item>
            </div>
        </HeaderLink>
        <HeaderLink href="/blog">
            <div>
                <span class="material-icons md-36">&#xeb81</span>
                <item>Blog {today}</item>
            </div>
        </HeaderLink>
        <div>
            <HeaderLink
                href="https://miguelgargallo.github.io/terminal-site"
                target="_blank"
                rel="noopener"
            >
                <div>
                    <span class="material-icons md-36">&#xe5e1</span>
                    <item>Terminal</item>
                </div>
            </HeaderLink>
            <HeaderLink
                href="https://www.superdata.dev"
                target="_blank"
                rel="noopener"
            >
                <div>
                    <span class="material-icons md-36">&#xe5e1</span>
                    <item>Terminal Pro</item>
                </div>
            </HeaderLink>
        </div>
        <div>
            <HeaderLink
                href="https://ko-fi.com/miguelgargallo"
                target="_blank"
                rel="noopener"
            >
                Buy me a Coffe
            </HeaderLink>
            <a>|</a>
            <HeaderLink
                href="https://twitter.com/miguelgargallo"
                target="_blank"
                rel="noopener"
            >
                Twitter
            </HeaderLink>
            <HeaderLink
                href="https://www.youtube.com/@MiguelGargalloLlamas"
                target="_blank"
                rel="noopener"
            >
                YouTube
            </HeaderLink>
            <HeaderLink
                href="https://github.com/miguelgargallo"
                target="_blank"
                rel="noopener"
            >
                GitHub
            </HeaderLink>
            <HeaderLink
                href="https://twitchprimegratis.com"
                target="_blank"
                rel="noopener"
            >
                Twitch
            </HeaderLink>
        </div>
    </nav>
</div>
