---
import HeaderLink from "./HeaderLink.astro";

function today() {
  const date = new Date();
  const day = date.getDate();
  const month = date.getMonth() + 1;
  return `${month}/${day}`;
}
---

<div>
  <nav>
    <div>
      <HeaderLink href="/">Home | {today}</HeaderLink>
    </div>
    <div>
      <HeaderLink
        href="https://cal.com/miguelgargallo"
        target="_blank"
        rel="noopener"
      >
        Hire me on Cal.Com
      </HeaderLink>
    </div>
    <div>
      <HeaderLink href="/blog">English</HeaderLink>
      <a>|</a>
      <HeaderLink href="/blog-es">Spanish</HeaderLink>
      <!-- 
      <a>|</a>
      <HeaderLink href="/blog-de">German</HeaderLink>
      <a>|</a>
      <HeaderLink href="/blog-cat">Catalan</HeaderLink>
      <a>|</a>
      <HeaderLink href="/blog-fr">French</HeaderLink>
      <a>|</a>
      <HeaderLink href="/blog-ita">Italian</HeaderLink>
      <a>|</a> 
      <HeaderLink href="/blog-jp">Japanese</HeaderLink>
      <a>|</a>
      <HeaderLink href="/blog-pt">Portuguese</HeaderLink> -->
    </div>
    <div>
      <HeaderLink
        href="https://ko-fi.com/miguelgargallo"
        target="_blank"
        rel="noopener"
      >
        Buy me a Coffe
      </HeaderLink>
      <a>|</a>
      <HeaderLink
        href="https://github.com/miguelgargallo"
        target="_blank"
        rel="noopener"
      >
        GitHub
      </HeaderLink>
      <a>|</a>
      <HeaderLink
        href="https://twitter.com/miguelgargallo"
        target="_blank"
        rel="noopener"
      >
        Twitter
      </HeaderLink>
    </div>
  </nav>
</div>
