---
import HeaderLink from "./HeaderLink.astro";

function today() {
  const date = new Date();
  const day = date.getDate();
  const month = date.getMonth() + 1;
  return `${month}/${day}`;
}
---

<div>
  <nav>
    <div>
      <HeaderLink href="/">Home | {today}</HeaderLink>
    </div>
    <div>
      <HeaderLink
        href="https://cal.com/miguelgargallo"
        target="_blank"
        rel="noopener"
      >
        Book now
    </HeaderLink>
    </div>
    <div>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <div>
      <HeaderLink
        style="background: #fff; color: #000; padding: 0 5px; border-radius: 5px; box-shadow: 0 0 0 1px #000; text-decoration: none; font-weight: bold; font-size: 1.2rem; text-align: center; display: inline-block; margin: 0 5px;"
        href="https://miguelgargallo.notion.site/Welcome-to-the-100-Days-With-Unity-by-miguelgargallo-at-8a4d5fd1759f410ea372c63d1cc35197?pvs=4"
        target="_blank"
        rel="noopener"
      >
        100 Days Unity
      </HeaderLink>
      <HeaderLink
        style="background: #fff; color: #000; padding: 0 5px; border-radius: 5px; box-shadow: 0 0 0 1px #000; text-decoration: none; font-weight: bold; font-size: 1.2rem; text-align: center; display: inline-block; margin: 0 5px;"
        href="https://www.youtube.com/@miguelgargallo"
        target="_blank"
        rel="noopener"
      >
        YouTube Series
      </HeaderLink>
    </div>
    <!-- <div>
      <HeaderLink href="/blog">English</HeaderLink>
      <a>|</a>
      <HeaderLink href="/blog-es">Spanish</HeaderLink>
      <a>|</a>
      <HeaderLink href="/blog-de">German</HeaderLink>
      <a>|</a>
      <HeaderLink href="/blog-cat">Catalan</HeaderLink>
      <a>|</a>
      <HeaderLink href="/blog-fr">French</HeaderLink>
      <a>|</a>
      <HeaderLink href="/blog-ita">Italian</HeaderLink>
      <a>|</a>
      <HeaderLink href="/blog-jp">Japanese</HeaderLink>
      <a>|</a>
      <HeaderLink href="/blog-pt">Portuguese</HeaderLink>
    </div> -->
    <div>
      <!--  <HeaderLink
      href="https://www.youtube.com/@miguelgargallo"
      target="_blank"
      rel="noopener"
    >
      Watch Now on YouTube
    </HeaderLink>
    <a>|</a> -->
      <HeaderLink
        style="background: #fff; border-radius: 50%; text-align: center; width: 30px; height: 30px; line-height: 30px; display: inline-block; margin: 0 5px; color: #000; font-weight: bold; font-size: 1.2rem; text-decoration: none; box-shadow: 0 0 0 1px #000;"
        href="https://patreon.com/mgar"
        target="_blank"
        rel="noopener"
      >
        P
      </HeaderLink>
      <HeaderLink
        style="background: #fff; border-radius: 50%; text-align: center; width: 30px; height: 30px; line-height: 30px; display: inline-block; margin: 0 5px; color: #000; font-weight: bold; font-size: 1.2rem; text-decoration: none; box-shadow: 0 0 0 1px #000;"
        href="https://github.com/miguelgargallo"
        target="_blank"
        rel="noopener"
      >
        GH
      </HeaderLink>
      <HeaderLink
        style="background: #fff; border-radius: 50%; text-align: center; width: 30px; height: 30px; line-height: 30px; display: inline-block; margin: 0 5px; color: #000; font-weight: bold; font-size: 1.2rem; text-decoration: none; box-shadow: 0 0 0 1px #000;"
        href="https://x.com/miguelgargallo"
        target="_blank"
        rel="noopener"
      >
        𝕏
      </HeaderLink>
    </div>
  </nav>
</div>
