---
import HeaderLink from "./HeaderLink.astro";

function today() {
  const date = new Date();
  const day = date.getDate();
  const month = date.getMonth() + 1;
  return `${month}/${day}`;
}
---

<div>
  <nav>
    <div>
      <HeaderLink href="/" target="_blank" rel="noopener">Home</HeaderLink>
    </div>
    <div>
      <HeaderLink
        href="https://cal.com/miguelgargallo"
        target="_blank"
        rel="noopener"
      >
        Hire me on Cal.Com
      </HeaderLink>
    </div>
    <div>
      <HeaderLink href="/blog" target="_blank" rel="noopener">
        Blog {today}
      </HeaderLink>
    </div>
    <div>
      <HeaderLink href="https://pencil.li" target="_blank" rel="noopener">
        Pencil
      </HeaderLink>
      <a>|</a>
      <HeaderLink href="https://pylar.org" target="_blank" rel="noopener">
        PylarAI
      </HeaderLink>
    </div>
    <div>
      <HeaderLink
        href="https://ko-fi.com/miguelgargallo"
        target="_blank"
        rel="noopener"
      >
        Buy me a Coffe
      </HeaderLink>
      <a>|</a>
      <HeaderLink
        href="https://github.com/miguelgargallo"
        target="_blank"
        rel="noopener"
      >
        GitHub
      </HeaderLink>
      <a>|</a>
      <HeaderLink
        href="https://twitter.com/miguelgargallo"
        target="_blank"
        rel="noopener"
      >
        Twitter
      </HeaderLink>
    </div>
  </nav>
</div>
