<nav class="tab-menu">
  <a href="/" class="tab-menu-item active">Home</a>
  <a href="/blog" class="tab-menu-item">Blog</a>
  <a
    href="https://ko-fi.com/miguelgargallo"
    target="_blank"
    class="tab-menu-item">Sponsor</a
  >
</nav>
