---
import Calendar from "./Calendar.astro";
---

<nav class="tab-menu">
  <a href="/" class="tab-menu-item active">Home</a>
  <a href="/about" class="tab-menu-item">About</a>
  <a href="/blog" class="tab-menu-item">Blog</a>
  <Calendar />
</nav>
