<div class="tab-pane" id="tab-astro">
  <div class="row">
    <div class="col-xs-12">
      <div class="astro">
        <div class="astro__sun">
          <div class="astro__sun--rise">
            <i class="fa fa-sun-o"></i>
            <span class="astro__sun--rise__time">06:00</span>
          </div>
          <div class="astro__sun--set">
            <span class="astro__sun--set__time">18:00</span>
            <i class="fa fa-moon-o"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
