---
function today() {
  const date = new Date();
  const day = date.getDate();
  const month = date.getMonth() + 1;
  const year = date.getFullYear();
  return `${month}/${day}`;
}
---

<nav class="tab-menu">
  <mobile>
    <div>
      <a href="/">
        <span class="material-icons md-24">&#xea35</span>
      </a>
    </div>
    <div>
      <a href="/blog">
        <span class="material-icons md-24">&#xeb81</span>
      </a>
    </div>
    <div>
      <a
        href="https://ko-fi.com/miguelgargallo"
        target="_blank"
        class="tab-menu-item"
      >
        <span class="material-icons md-24">&#xefef</span>
      </a>
    </div>
  </mobile>
</nav>
