---
function today() {
  const date = new Date();
  const day = date.getDate();
  const month = date.getMonth() + 1;
  const year = date.getFullYear();
  return `${month}/${day}`;
}
---

<nav class="tab-menu">
  <div class="menu-mobile">
    <div class="menu-mobile-item">
      <a href="/blog">
        <i class="material-icons md-24">newspaper</i>
      </a>
    </div>
    <div class="menu-mobile-item">
      <a href="https://airdetails.com" target="_blank">
        <i class="material-icons md-24">photo</i>
      </a>
    </div>
    <div class="menu-mobile-item">
      <a href="https://www.youtube.com/@miguelgargallo" target="_blank">
        <i class="material-icons md-24">ondemand_video</i>
      </a>
    </div>
    <div class="menu-mobile-item">
      <a
        href="https://miguelgargallo.notion.site/Welcome-to-the-100-Days-With-Unity-by-miguelgargallo-at-8a4d5fd1759f410ea372c63d1cc35197?pvs=4"
        target="_blank"
      >
        <i class="material-icons md-24">school</i>
      </a>
    </div>
    <div class="menu-mobile-item">
      <a href="https://patreon.com/mgar" target="_blank">
        <i class="material-icons md-24">favorite</i>
      </a>
    </div>
  </div>
</nav>
